/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/excel
/storage/*.key
/storage/minio
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.sonarlint
/.scannerwork
.idea/
.vagrant/
Vagrantfile
docker-compose.yml
Dockerfile
php/local.ini
nginx/conf.d/app.conf
mysql/my.cnf
init.sh
domore-cli
*.sql
env.txt
.DS_Store
